<div class="container mt-3"><div class="  <form [formGroup]="itemForm" (ngSubmit)="submit()" class="card p-3">

    <div class="row">
      <div class="col-md-4">
        <input class="form-control" formControlName="productId" placeholder="Product ID">
      </div>

      <div class="col-md-4">
        <input class="form-control" formControlName="stockQuantity" placeholder="Stock Quantity">
      </div>

      <div class="col-md-4">
        <button class="btn btn-primary">Submit</button>
      </div>
    </div>

  </form>

</div>

  <h4>Manage Inventory</h4>

