<nav class="navbar navbar-dark bg-dark px-3" *ngIf="IsLoggin">
  <span class="navbar-brand">Supply-of-Goods M&DP</span>

  <ul class="navbar-nav flex-row">

    <li *ngIf="roleName === 'MANUFACTURER'" class="mx-2">
      <a routerLink="/create-product" class="text-white">Create Products</a>
    </li>

    <li *ngIf="roleName === 'WHOLESALER'" class="mx-2">
      <a routerLink="/get-orders" class="text-white">Orders</a>
    </li>

    <li *ngIf="roleName === 'WHOLESALER'" class="mx-2">
      <a routerLink="/place-product" class="text-white">Place Order</a>
    </li>

    <li class="mx-2">
      <a (click)="logout()" class="text-white">Logout</a>
    </li>

  </ul>
</nav>

<!-- ✅ ONLY THIS -->
<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
